<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary navbar-fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <a class="navbar-brand">Navbar</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <div *ngIf='authService.user | async'>
        <form class="form-inline my-2 my-lg-0">
          <select class="form-control" id="sel1" [(ngModel)]='limit' name='limit' (change)='onChange($event.target.value)'>
            <option class="dropdown-item">5</option>
            <option class="dropdown-item">10</option>
            <option class="dropdown-item">20</option>
            <option class="dropdown-item">30</option>
            <option class="dropdown-item">40</option>
          </select>
          <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" (input)='searchQuery=$event.target.value'> -->
          <input class="form-control mr-sm-2" type="text" placeholder="Search" [(ngModel)] = searchQuery name='searchQuery'>
          <button class="btn btn-success my-2 my-sm-0" (click)='search()' type="submit">Search</button>
          <button (click)='logout()' class="btn btn-warning">Logout</button>
        </form>
      </div>
    </div>
  </nav>
</div>
<div *ngIf='videos?.length>0; else novideos'>
  <div class="playerList">
    <div class="list-item" *ngFor='let video of videos'>
      <span class="list-title" (click)='loadVideo(video)'>{{video.snippet.title}}</span>
      <div class="list-img-desc">
        <div class="div-list-item">
          <div class="list-img">
            <img src={{video.snippet.thumbnails.default.url}} (click)='loadVideo(video)' />
          </div>
        </div>
        <p class="list-desc">{{video.snippet.description}}</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf='authService.user | async' class="player">
  <youtube-player width='500' height='300' *ngIf='videoId' [videoId]='videoId' (ready)='savePlayer($event)'>
  </youtube-player>
  <div class="scrollmenu">
    <!-- <div class="playlist" *ngFor='let video of playlist'> -->
    <img src={{video.snippet.thumbnails.default.url}} *ngFor='let video of playlist' (click)='loadPlaylistVideo(video)' />
    <!-- </div> -->
  </div>
</div>
<ng-template #novideos>
  <h3 class="no-videos">No results match your search.</h3>
</ng-template>
<div *ngIf='!(authService.user|async)'>
  <router-outlet></router-outlet>
</div>
<div *ngIf='authService.errorMsg' class="error">
  {{authService.errorMsg}}!!!
</div>